div{
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    height: 10%;
    width: 20%;
    position: flex;
    text-align: center;
    box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.75);
    margin-left: 40%;
    background: whitesmoke;
}
#main1{
    height: 10%;
    margin-top: 1%;
    width: 94%;
    position: flex;
    text-align: center;
    box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.75);
    margin-left: 3%;
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}